.spot-details-container {
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    /* border: solid 1px purple; */
    min-width: 1140px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1200px;
    /* max-width: 1000px; */
    /* align-items: center; */
}

.spot-name {
    font-size: 22px;
    font-weight: 450;
    margin-bottom: 20px;
    /* margin-left: 5%; */
    /* border: solid 3px green; */
}

.under-name-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spot-info-under-name {
    font-weight: 350;
    height: 20px;
    /* border: solid 1px red; */
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spot-info-under-name-text {
    font-size: 15px;
    margin-left: 4px;
    /* border: solid 1px blue; */
}

.dot {
    font-size: 15px;
    color: grey;
    margin-left: 2px;
    /* margin-bottom: 13px; */
    /* margin-right: 2px; */
    /* border: solid 1px green; */
    display: flex;

}

.update-delete-buttons {
    font-size: 14px;
    text-decoration: underline;
    align-self: center;
    display: flex;
    width: 135px;
    justify-content: space-between;
    /* border: solid 2px red; */
}

.up-del-actual-buttons {
    /* background-color: blue; */
    padding: 11px;
    display:flex;
    align-items: center;
    border-radius: 7px;
}

.up-del-actual-buttons:hover {
    background-color: #F8F8F8;
}

.spot-details-images {
    display: flex;
    /* align-self: center; */
    width: 100%;
    max-width: 1200px;
    height: 400px;
    border-radius: 12px;
    margin-bottom: 50px;
    /* border: solid 1px orange; */
}

.img-1-container {
    height: 400px;
    width: 50%;
    overflow: hidden;
}

.rest-images-container {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    margin-left: 0.5%;
    width: 49.5%;
}

.img-1 {
    height: 400px;
    min-width: 80%;
    min-width: 600px;
    background-color: lightgrey;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    object-fit: cover;
}

.img-2 {
    height: 197px;
    /* background-color: lightgray; */
    width: 49.5%;
    object-fit: cover;
}

.img-3 {
    height: 197px;
    /* background-color: lightgray; */
    margin-left: 1%;
    width: 49.5%;
    border-top-right-radius: 12px;
    object-fit: cover;
}

.img-4 {
    height: 197px;
    /* background-color: lightgray; */
    width: 49.5%;
    margin-top: 6px;
    object-fit: cover;
}

.img-5 {
    height: 197px;
    /* background-color: lightgray; */
    margin-left: 1%;
    width: 49.5%;
    margin-top: 6px;
    border-bottom-right-radius: 12px;
    object-fit: cover;
}

.spot-details-middle-section{
    display: flex;
    width: 100%;
}

.spot-details-middle-left {
    min-width: 60%;
    /* border: solid 1px green; */
}

.spot-details-middle-right {
    display: flex;
    /* border: solid 1px purple; */
    width: 100%;
    justify-content: flex-end;
}

.price-form {
    width: 87%;
    height: 410px;
    border: solid 1px #C8C8C8;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    border-radius: 11px;
    box-shadow: 0px 6px 16px lightgray;
    position: sticky;
    top: 120px;
    /* z-index: 0; */
}

.inner-price-form {
    height: 100%;
    width: 87%;
    /* border: solid 1px blue; */
    display: flex;
    flex-direction: column;
}

.first-pf {
    height: 10%;
    width: 100%;
    /* border: solid 1px green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ppn {
    /* border: solid 1px orange; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.left-ppn {
    /* border: solid 1px aqua; */
    margin-right: 3px;
    margin-bottom: -1.5px;
}

.repeated-stars {
    /* border: solid 1px green; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.reservation-dates {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    height: 120px;
    /* border: solid 1px red; */
}

.check-in-check-out {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 56px;
    border: solid 1px #B0B0B0;
    border-radius: 7px;
}

.check-in-date, .check-out-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    border-right: solid 1px #B0B0B0;
    cursor: pointer;
}

.check-out-date {
    border-right: none;
}

.check-in-date-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 62%;
    width: 87%;
    /* border: solid 1px blue; */
}

#check-in {
    font-size: 10px;
    font-weight: 650;
}

#check-in-mdy {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 2px;
}

#reserve-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    margin-top: 16px;
    border-color: transparent;
    border-radius: 10px;
    background-size: 180% 180%;
    background-position: 50%;
    background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
    cursor: pointer;
}

#reserve-button:active {
    transform: scale(0.98);
}

#reserve-button-text {
    color: white;
    font-size: 15px;
    font-weight: 350;
}

.calendar-container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    min-height: 468px;
    width: 661px;
    /* min-height: fit-content; */
    margin-left: -285px;
    margin-top: -25.5px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px #C8C8C8;
    box-shadow: 0px 6px 16px lightgray;
    /* border: solid 1px red; */
}

.calendar-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 90%;
    min-height: fit-content;
    /* border: solid 1px red; */
}

.date-range-top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 58px;
    width: 100%;
    margin-bottom: 85px;
    /* border: solid 1px blue; */
}

.date-range-top-info-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 90%;
    /* border: solid 1px red; */
}

#date-range-top-info-nights {
    font-size: 22px;
}

#date-range-top-info-range {
    font-size: 14px;
    color: #717171;
    font-weight: 300;
}

#datepicker-checkin-checkout {
    display: flex;
    flex-direction: row;
    width: 344px;
    border: solid 2px black;
    border-radius: 7px;
    height: 57px;
    margin-top: -.5px;
    margin-left: .5px;
}

#datepicker-checkin {
    border-right: solid 1.5px black;
}

#datepicker-checkout {
    border-left: solid 0.7px black;
}

.react-daterange-picker__calendar {
    width: 591px;
}

.react-calendar__navigation {
    width: 591px;
}

.react-daterange-picker__wrapper {
    visibility: hidden;
    z-index: -10;
}

.react-calendar__viewContainer {
    display: flex;
    position: absolute;
}

.react-calendar__month-view {
    display: flex;
    min-width: 286px;
}

.second-pf {
    width: 100%;
    margin-top: 25px;
    height: 1px;
    /* border: solid 1px green; */
    display: flex;
    align-self: center;
    background-color: #C8C8C8;
}

.third-pf {
    width: 100%;
    display: flex;
    /* border: solid 1px green; */
    margin-top: 25px;
    height: 120px;
}

.seven-nights {
    display: flex;
    flex-direction: row;
    font-weight: 250;
    width: 100%;
    justify-content: space-between;
    /* border: solid 1px lightcoral; */
    margin-bottom: 20px;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: 450;
}

.spot-misc-info {
    height: 285px;
    border-top: solid 1px #BEBEBE;
    border-bottom: solid 1px #BEBEBE;
    width: 100%;
    margin-top: 30px;
}

.spot-misc-1 {
    /* border: solid 1px purple; */
    margin-top: 30px;
    height: 70px;
    display: flex;
    flex-direction: row;
}

.spot-misc-text {
    display: flex;
    flex-direction: column;
    line-height: 1.25;
}

.spot-description {
    width: 100%;
    border-bottom: solid 1px #BEBEBE;
    display: flex;
}

.spot-description-text {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 720px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.35;
    overflow-wrap: break-word;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

#airCover {
    /* border: solid 1px red; */
    height: 25px;
    width: 122px;
    margin-top: 30px;
    filter: saturate(3);
    z-index: -1;
}

.spot-reviews {
    min-height: 530px;
    margin-bottom: 30px;
    /* border: solid 1px red; */
}

.review-header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 30px;
    justify-content: space-between;
    width: 55%;
    /* border: solid 1px blue; */
}

.review-header-left {
    display: flex;
    align-items: center;
}

.link-to-review-form {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    margin-top: 3px;
    text-decoration: underline;
    cursor: pointer;
    /* background-color: aqua; */
    padding: 11px;
    border-radius: 8px;
}

.link-to-review-form:hover {
    background-color: #F8F8F8;
}

.dot-2 {
    display: flex;
    font-size: 27px;
    color: grey;
    margin-left: 6px;
    margin-bottom: 13px;
    margin-right: 2px;
}

.each-review {
    /* border: solid 3px green; */
    overflow-wrap: break-word;
    margin-top: 30px;
}

.each-review-top {
    display: flex;
    flex-direction: row;
    /* border: solid 1px blue; */
    justify-content: space-between;
}

.each-rev-top-left {
    display: flex;
    flex-direction: row;
    /* border: solid 2px red; */
}

.review-top-text {
    display: flex;
    flex-direction: column;
    /* border: solid 2px green; */
}

.review-user-name-date {
    height: 20px;
    /* border: solid 1px blue; */
}

.delete-review-button {
    display: flex;
    /* background-color: aqua; */
    padding: 13px;
    height: 25px;
    align-items: center;
    font-size: 14px;
    text-decoration: underline;
    border-radius: 7px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: 350;
    cursor: pointer;
}

.delete-review-button:hover {
    background-color: #F8F8F8;
}

.each-review-bottom {
    /* border: solid 2px pink; */
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 1300px) {
    .spot-details-container{
        min-width: 1000px;
    }
}

@media (max-width: 1100px) {
    .spot-details-container{
        min-width: 800px;
    }
}

.react-daterange-picker {
    display: inline-flex;
    position: relative;
  }
  .react-daterange-picker,
  .react-daterange-picker *,
  .react-daterange-picker *:before,
  .react-daterange-picker *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-daterange-picker--disabled {
    background-color: #f0f0f0;
    color: #6d6d6d;
  }
  .react-daterange-picker__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    border: thin solid gray;
  }
  .react-daterange-picker__inputGroup {
    min-width: calc((4px * 3) +  0.54em * 8  +  0.217em * 2);
    height: 100%;
    flex-grow: 1;
    padding: 0 2px;
    box-sizing: content-box;
  }
  .react-daterange-picker__inputGroup__divider {
    padding: 1px 0;
    white-space: pre;
  }
  .react-daterange-picker__inputGroup__input {
    min-width: 0.54em;
    height: 100%;
    position: relative;
    padding: 0 1px;
    border: 0;
    background: none;
    font: inherit;
    box-sizing: content-box;
    -moz-appearance: textfield;
  }
  .react-daterange-picker__inputGroup__input::-webkit-outer-spin-button,
  .react-daterange-picker__inputGroup__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .react-daterange-picker__inputGroup__input:invalid {
    background: rgba(255, 0, 0, 0.1);
  }
  .react-daterange-picker__inputGroup__input--hasLeadingZero {
    margin-left: -0.54em;
    padding-left: calc(1px +  0.54em);
  }
  .react-daterange-picker__button {
    border: 0;
    background: transparent;
    padding: 4px 6px;
  }
  .react-daterange-picker__button:enabled {
    cursor: pointer;
  }
  .react-daterange-picker__button:enabled:hover .react-daterange-picker__button__icon,
  .react-daterange-picker__button:enabled:focus .react-daterange-picker__button__icon {
    stroke: #0078d7;
  }
  .react-daterange-picker__button:disabled .react-daterange-picker__button__icon {
    stroke: #6d6d6d;
  }
  .react-daterange-picker__button svg {
    display: inherit;
  }
  .react-daterange-picker__calendar {
    width: 591px;
    max-width: 100vw;
    z-index: 1;
  }
  .react-daterange-picker__calendar--closed, .react-daterange-picker__calendar--open {
    position: absolute !important;
    inset: auto auto 100% 0px !important;
  }
  .react-daterange-picker__calendar .react-calendar {
    border-width: thin;
  }

  .react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
  }
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__month-view__days__day {
    height: 40px;
    width: 40px;
    color: black;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
  }
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }

  .react-calendar__tile:enabled:hover {
    border: solid 1px black;
    border-radius: 75%;
  }
  /* .react-calendar__tile--now {
    background: #ffff76;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  } */
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }

  .invisible-arrow {
    display: none;
  }

  abbr[title] {
    text-decoration: none;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #898989;
  }

  .react-calendar {
    border: none;
  }

  #month-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 75%;
    font-size: 25px;
  }

  #month-arrows:hover {
    background-color: #F7F7F7;
  }

  .react-calendar__navigation__label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    cursor: default;
  }

  #react-calender-label {
    background-color: white;
  }

  .react-calendar__navigation__label__divider {
    visibility: hidden;
  }

  .react-calendar__navigation__label__labelText--from, .react-calendar__navigation__label__labelText--to {
    font-size: 16px;
    font-weight: 500;
  }

  .react-calendar__tile--active {
    background-color: #e6e6e6;
    color: black;
  }

  .calendar-clear-and-close {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 213px;
    height: 34px;
    z-index: 2;
    /* border: solid 1px red; */
  }

  #clear-dates {
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
  }

  #close-calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    height: 34px;
    width: 69px;
    margin-left: 16px;
    background-color: black;
    border-radius: 7px;
    cursor: pointer;
  }

  .react-calendar__month-view > div {
    display: flex;
    align-items: flex-start !important;
  }

  .react-calendar__tile:disabled {
    background-color: white;
    color: lightgray;
    text-decoration: line-through;
  }

  .react-calendar__navigation__arrow:focus {
    background-color: white !important;
  }

  .react-calendar__navigation__arrow:hover {
    background-color: #F7F7F7 !important;
  }


/* Confirmation Page */

.confirmation-page-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    padding-top: 105px;
    /* border: solid 1px red; */
}

.confirmation-page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1140px;
    background-color: white;
    /* border: solid 1px blue; */
}

.confirmation-page-inner-wrapper {
    display: flex;
    flex-direction: column;
    width: 558px;
    /* border: solid 1px green; */
}

@media (max-width: 1300px) {
    .confirmation-page-inner-wrapper{
        width: 490px;
    }
    .confirmation-page-wrapper {
        width: 1000px;
    }
}

@media (max-width: 1100px) {
    .confirmation-page-inner-wrapper{
        min-width: 392px;
        width: 39%;
    }
    .confirmation-page-wrapper {
        min-width: 800px;
        width: 80%;
    }
}

.confirm-and-pay-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
    color: #222222;
}

#confirm-and-pay-prev-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    margin-right: 20px;
    border-radius: 50%;
    cursor: pointer;
}

#confirm-and-pay-prev-arrow:hover {
    background-color: #F7F7F7;
}

#confirm-and-pay-text {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.confirmation-page-middle-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* border: solid 1px red; */
}

.confirmation-page-middle-left-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: solid 1px purple; */
}

#your-trip {
    font-size: 22px;
    font-weight: 500;
}

.your-trip-dates {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.your-trip-dates-left {
    display: flex;
    flex-direction: column;
}

#your-trip-dates-title, #your-trip-edit {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

#your-trip-dates-dates {
    font-weight: 300;
}

#your-trip-edit {
    text-decoration: underline;
    cursor: pointer;
}

#your-trip-nights {
    padding-bottom: 20px;
    border-bottom: solid 1px #DDDDDD;
    margin-bottom: 30px;
}

#log-in-to-book-submit {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#log-in-to-book-submit:active {
    transform: scale(0.98);
}

#confirm-registration, #log-in-to-book-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100%;
    color: white;
    font-size: 15px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    border-radius: 10px;
    background-size: 180% 180%;
    background-position: 50%;
    background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
    cursor: pointer;
}

#confirm-registration:active {
    transform: scale(0.98);
}

.log-in-to-book-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#log-in-to-book-text {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.log-in-to-book-input-div {
    display: flex;
    flex-direction: column;
    border: solid 1px #B0B0B0;
    border-radius: 10px;
    margin-bottom: 20px;
}

#log-in-to-book-username {
    display: flex;
    margin-top: 16px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: solid 1px #B0B0B0;
    background-color: transparent;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

#log-in-to-book-password {
    display: flex;
    margin-top: 16px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.log-in-to-book-labels {
    position: absolute;
    margin-top: 8px;
    margin-left: 9px;
    color: #717171;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

#log-in-to-book-labels-password {
    margin-top: 64px;
}

#log-in-to-book-or {
    margin-top: 20px;
    margin-bottom: 20px;
    position: static;
    width: 100%;
}

#log-in-to-book-demo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    border-radius: 10px;
    border: solid 2px black;
    cursor: pointer;
}

#log-in-to-book-demo:active {
    transform: scale(0.98);
}

.price-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: fit-content;
    padding-top: 24px;
    padding-bottom: 24px;
    border: solid 1px #DDDDDD;
    border-radius: 10px;
}

.price-details-inner-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    /* border: solid 1px red; */
}

.price-details-top {
    display: flex;
    flex-direction: row;
    height: 130px;
    padding-bottom: 24px;
    border-bottom: solid 1px #B0B0B0;
}

#price-details-top-img {
    object-fit: cover;
    width: 124px;
    height: 106px;
    border-radius: 6px;
    margin-right: 12px;
}

.price-details-top-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-details-top-right-top {
    display: flex;
    flex-direction: column;
}

#price-details-spot-name {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 5px;
}

#price-details-spot-location {
    font-size: 12px;
    font-weight: 300;
    color: #717171;
}

.price-details-reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

#price-details-num-reviews {
    margin-left: 2px;
    color: #717171;
    font-weight: 300;
}

#price-details-second-pf {
    background-color: #B0B0B0;
}

#price-details-text {
    margin-top: 24px;
    margin-bottom: -8px;
    font-size: 22px;
    font-weight: 400;
}

#confirmation-page-errors {
    position: static;
    margin-bottom: 10px;
    margin-top: -10px;
}
