.google-maps-price-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
    background-color: white;
    font-size: 15px;
    font-weight: 450;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.7) 0px 2px 5px;
}
