.create-spot-page-wrapper {
    /* border: solid 1px red; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.create-spot-left {
    /* border: solid 2px orange; */
    width: 44%;
    z-index: 10;
}

.gradient {
    transform: rotate(270deg);
    width: 100%;
}

.vector {
    height: 40px;
    position: absolute;
    z-index: 11;
    top: 40px;
    left: 40px;
    cursor: pointer;
    /* filter: saturate(3); */
}

.tell-us-about-spot {
    position: absolute;
    top: 45%;
    display: flex;
    left: 40px;
    width: 40%;
    /* justify-content: center; */
    z-index: 11;
}

.create-spot-right {
    /* border: solid 3px blue; */
    width: 56%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.create-spot-form-wrapper {
    height: 600px;
    width: 70%;
    /* border: solid 1px red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-images-div {
    display: none;
    flex-direction: column;
    position: absolute;
    /* border: solid 1px purple; */
    z-index: -1;
}

.create-spot-nav-div {
    /* border: solid 1px blue; */
    display: flex;
    position: fixed;
    bottom: 0;
    height: 90px;
    width: 56vw;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.nav-bar-status {
    /* border: solid 2px green; */
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 4px;
}

.nav-bar-left-half, .nav-bar-right-half {
    display: flex;
    /* border: solid 2px blue; */
    height: 100%;
    width: 50%;
}

.nav-bar-right-half {
    justify-content: flex-end;
}

.nav-bar-first {
    background-color: black;
    width: 50%;
    height: 100%;
}

.nav-bar-second {
    background-color: #E8E8E8;
    width: 50%;
    height: 100%;
}

.nav-bar-buttons {
    /* border: solid 1px red; */
    height: 100%;
    min-width: 80%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}

.back-button {
    align-self: center;
    display: none;
    height: 10px;
    text-decoration: underline;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 450;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.next-button {
    align-self: center;
    justify-self: flex-end;
    cursor: pointer;
    /* right: 10%; */
    border: none;
    height: 45px;
    width: 90px;
    color: white;
    background-color: black;
    border-radius: 7px;
    font-size: 17;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.create-spot-submit {
    color: white;
    width: 360px;
    height: 40px;
    font-size: 15px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin-top: 25px;
    border-color: transparent;
    border-radius: 8px;
    background-size: 180% 180%;
    background-position: 50%;
    background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%)
}

body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.input {
    min-width: 360px;
    border-radius: 7px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #BEBEBE;
    font-weight: 300;
    font-size: 15px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.text-area {
    padding-top: 8px;
    font-weight: 300;
    padding: 8px;
    height: 150px;
    min-width: 360px;
    border-radius: 7px;
    margin-top: 20px;
    border: 1px solid #BEBEBE;
    font-size: 15px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

textarea {
    resize: none;
}

.create-errors {
    position: absolute;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: red;
    margin-left: 8px;
    margin-top: 2px;
}
