/* TODO Add site wide styles */
body {
    display: flex;
    flex-direction: column;
    border: solid 1px blue;
    box-sizing: border-box;
}

#root {
    width: 100%;
    box-sizing: border-box;
}
