.spot-card {
    width: 260px;
    min-height: 300px;
    /* max-height: 300px; */
    margin: 10px;
}

.spot-image {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 245px;
    /* height: 80%; */
    /* max-width: 100%;
    min-height: 230px;
    max-height: 300px; */
    border-radius: 12px;
}

.spot-location {
    font-weight: 450;
}

.spot-card-text {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    font-weight: 300;
}

span {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    /* font-size: 14px; */
    color: black;
}
