.spot-card {
    width: 275px;
    min-height: 300px;
    /* max-height: 300px; */
    /* margin: 10px; */
}

.spot-image {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 245px;
    max-height: 245px;
    /* height: 80%; */
    /* max-width: 100%;
    min-height: 230px;
    max-height: 300px; */
    border-radius: 12px;
    object-fit: cover;
}

.spot-location {
    font-weight: 450;
    /* border: solid 1px red; */
    overflow: hidden;
    max-width: 225px;
    max-height: 20px;
}

.spot-top-text {
    display: flex;
    /* border: solid 1px green; */
    flex-direction: row;
    justify-content: space-between;
}

.spot-card-text {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    font-weight: 300;
    /* border: solid 1px blue; */
}

.card-stars {
    /* border: solid 1px pink; */
    display: flex;
    flex-direction: row;
}

.star-div {
    margin-right: 3px;
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spacing-div {
    height: 2px;
    /* border: solid 1px green; */
}

span {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    /* font-size: 14px; */
    color: black;
}
