.host-spot-div {
    /* position: absolute; */
    right: 180px;
    font-size: 14px;
    font-weight: 500;
    /* border: solid 1px red; */
    padding: 12px;
    border-radius: 20px;
    margin-right: 12px;
}

.host-spot-div:hover {
    background-color: #F8F8F8;
}

.host-and-menu-user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
